@import "tailwindcss";

/* Google Sign-In Material Button Styling */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #747775;
  border-radius: 12px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.gsi-material-button:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  background-color: #f8fafd;
  border-color: #5e615f;
}

.gsi-material-button-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}

.gsi-material-button-icon {
  height: 20px;
  min-width: 20px;
  width: 20px;
  margin-right: 10px;
}

.gsi-material-button-contents {
  font-weight: 500;
}

